@charset "urf-8";

head, body {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
ul, li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}

header {
    margin: 30px 0 50px;
    text-align: center;
}
header > p {
    color: #6d6d6d;
}

main {
    display: flex;
    justify-content: center;
}
main > .class {
    width: 400px;
    margin: 0 20px;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 20px;
}
main > .assignment {
    width: 400px;
    margin: 0 20px;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 20px;
}
main > .class > h2 {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(231, 244, 113);
    border-radius: 6px;
}
main > .assignment > h2 {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(245, 195, 170);
    border-radius: 6px;
}
main .divide {
    font-weight: bold;
    margin-bottom: 20px;
}
main .divide > p {
    font-weight: normal;
    margin-left: 20px;
    margin-top: 2px;
    color: #fff;
}
main .divide > p > a {
    color: #333;
    border-radius: 3px;
}
main > .class .divide > p > a {
    background-color: rgb(248, 255, 184);
}
main > .assignment .divide > p > a {
    background-color: rgb(255, 226, 211);
}