@charset "utf-8";
/* 브라우저의 가로사이즈가 최대 768px 이하로 조정되었다면 해당하는 스타일을 적용해라 */
@media (max-width: 768px) {
    .box1{
        width: 100%;
        background-color: #ffa;
    }
}

@media (max-width: 1200px) {
    .wrap1 {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .wrap1 div {
        width: calc(100% / 3 - 20px);
    }
    .wrap1 div:last-child{
        display: none;
    }
}
@media (max-width: 767px) {
    .wrap1 div {
        width: calc(50% - 20px);
    }
    .wrap1 div:last-child{
        display: block;
    }
}

.minWidthBox {
    width: 300px;
    height: 300px;
    background-color: #00f;
}

/* 최소 가로 사이즈가 900px 이상일 때 */
@media (min-width: 900px) {
    .minWidthBox{
        background-color: #ff0;
    }
}
/* 최소 가로 사이즈가 1200px 이상일 때 */
@media (min-width: 1200px) {
    .minWidthBox{
        background-color: #f00;
    }
}
/* 1200이상 < 900px */

.maxWidthBox {
    width: 300px;
    height: 300px;
    background-color: #00f;
}
@media (max-width: 1200px) {
    .maxWidthBox{
        background-color: #f00;
    }
}
@media (max-width: 900px) {
    .maxWidthBox{
        background-color: #ff0;
    }
}
/*
미디어 쿼리의 순서는
[min-width로 선언 시] 해상도가 작은 영역부터 큰 영역순으로 작성되어야 함
[max-width로 선언 시] 해상도가 큰 영역부터 작은 영역순으로 작성되어야 함
*/

#menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    background-color: #ffa;
}
#menu ul {
    display: flex;
}
#menu ul li {
    margin: 0 15px;
}
#menu ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: #cdf;
}
@media (max-width: 575px) {
    #menu ul {
        flex-direction: column;
    }
}