@charset "utf-8";

*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
button{cursor: pointer;}

#imgSlide{
    width: 100%;
    height: 60vh; /* dvh : 앱에서 URL창 공간에서 유연하게 대응하도록 구성된 단위 */
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/land_01.jpg);
    transition: background-image 1s;
}

.fixed_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 1s;
}
.fixed_box.active{
    transform: translateY(0);
}