/* index.css */
@charset "utf-8";

main {
    height: 400px;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: 50% 50%;
    animation: 30s moveBg infinite linear;
}

@keyframes moveBg {
    0%{background-position: 50% 0%}
    50%{background-position: 50% 100%}
    100%{background-position: 50% 0%}
}

section{padding : 80px 0 60px;}
section .wrap { width: 1200px; margin: 0 auto;}
section .wrap .title {
    border-bottom: 1px solid #777;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* 글자의 하단에 정렬시키겠다는 의미 */
}
section .wrap .title h3 {
    font-size: 24px;
    color : #fff;
    text-transform: uppercase;
}
section .wrap .title a {
    font-size: 14px;
    color : #ff7;
    text-transform: capitalize;
}
section .wrap .cont {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
section .wrap .cont div {
    width: calc(50% - 20px);
    height: 300px;
    margin: 0 10px 20px;
    background-color: #777;
    background-position: 50% 50%;
    cursor: pointer;
}